/*PSEUDO*/
@media screen {
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #f5f5f5;
    }

    ::-webkit-scrollbar {
        width: 0px;
        height: 0;
        background-color: #f5f5f5;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #d62929;
    }

    :not(:empty) + .-empty-state {
        display: none !important;
    }

    .-empty:empty, .-empty:empty > * {
        display: none;
    }
}

/*SHELL*/
@media screen {
    html {
        height: 100%;
        width: 100%;
    }

    body {
        font-family: Arial;
        height: 100%;
        margin: 0;
        width: 100%;
    }

    @media (prefers-color-scheme: dark) {
        body[data-theme="system"] {
            background-color: #181818;
            color: #fff;
        }
    }

    body > header, body > footer {
        display: flex;
        display: webkit-flex;
    }

    body > header > section, body > footer > section {
        width: 100%;
    }

    blocks {
        /* width: 100%; */
        position: relative;
        display: flex;
    }

    block, box, card {
        display: flex;
        display: webkit-flex;
        flex-direction: column;
        position: relative;
    }

    block > section, card > section, box > section {
        width: 100%;
    }

    block > picture {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    flex, column, row {
        display: flex;
        display: webkit-flex;
    }

    column {
        flex-direction: column;
    }

    row {
        flex-direction: row;
    }

    form {
        margin: 0;
    }

    form > * {
        /* width: 100%; */
    }

    main {
        display: flex;
        display: webkit-flex;
        /* height: 100%; */
        overflow: visible;
        position: relative;
    }

    ico {
        align-items: center;
        display: flex;
        display: webkit-flex;
        justify-content: center;
    }

    ico:not([data-height]) {
        height: 50px;
    }

    ico:not([data-width]) {
        width: 50px;
    }

    iframe {
        border: 0;
    }

    input {
        -webkit-appearance: none;
    }

    input:focus {
        outline: none;
    }

    [type="text"], [type="password"] {
        background: none;
        border: unset;
        padding: 0;
    }

    input[type="file"], input[type="submit"] {
        display: none;
    }

    menu {
        margin: 0;
        padding: 0;
    }

    page, pages {
        display: flex;
        position: relative;
    }

    body > page, body > pages {
        z-index: 123456789;
    }

    [placeholder]:not(input):empty:before {
        content: attr(placeholder);
    }

    [data-hide]:not([data-active="true"]), [data-page]:not([data-active="true"]):not(.-active), [data-pages]:not([data-active="true"]):not(.-active) {
        display: none;
    }
}

/*CLASSES*/
.aspect-ratio-16x9 {
    width: 100%;
    padding-top: 56.25%;
}

/*ALIGN ITEMS*/
@media screen {
    .align-items-center {
        align-items: center;
    }
}

/*BACKGROUND COLOR*/
@media screen {
    .background-color-000 {
        background-color: #000;
    }

    @media (prefers-color-scheme: dark) {
        body[data-theme="system"] .-dark-background-color-12 {
            background-color: #121212;
        }

        body[data-theme="system"] .-dark-background-color-18 {
            background-color: #181818;
        }

        body[data-theme="system"] .-dark-background-color-20 {
            background-color: #202020;
        }

        body[data-theme="system"] .-dark-background-color-31 {
            background-color: #313131;
        }
    }
}

/*BORDER*/
@media screen {
    .border-1px-solid {
        border: 1px solid;
    }

    .border-bottom-1px-solid {
        border-bottom: 1px solid;
    }
}

/*BORDER COLOR*/
@media screen {
    .border-color-31 {
        border-color: #313131;
    }

    .border-color-ffffff1a {
        border-color: #ffffff1a;
    }
}

/*BACKGROUND COLOR*/
@media screen {
    .background-color-333 {
        background-color: #333;
    }
}

/*BORDER RADIUS*/
@media screen {
    .border-radius-50pct {
        border-radius: 50%;
    }
}

/*COLUMNS*/
@media screen {
    [data-columns] {
        display: grid;
    }

    [data-columns="auto 320px"] {
        grid-template-columns: auto 320px;
    }

    [data-columns="1"] {
        grid-template-columns: auto;
    }

    [data-columns="2"] {
        grid-template-columns: auto auto;
    }

    [data-columns="3"] {
        grid-template-columns: auto auto auto;
    }

    [data-columns="4"] {
        grid-template-columns: auto auto auto auto;
    }

    [data-columns="5"] {
        grid-template-columns: auto auto auto auto auto;
    }

    [data-columns="6"] {
        grid-template-columns: auto auto auto auto auto auto;
    }

    .grid-gap-4px, [data-grid-gap="4px"] {
        grid-gap: 4px;
    }

    @media (max-width: 2288px) {
        [data-2288px-columns="5"] {
            grid-template-columns: auto auto auto auto auto;
        }
    }

    @media (max-width: 1951px) {
        [data-1951px-columns="4"] {
            grid-template-columns: auto auto auto auto;
        }
    }

    @media (max-width: 1127px) {
        [data-1127px-columns="3"] {
            grid-template-columns: auto auto auto;
        }
    }

    @media (max-width: 887px) {
        [data-887px-columns="2"] {
            grid-template-columns: auto auto;
        }
    }

    @media (max-width: 511px) {
        [data-511px-columns="1"] {
            grid-template-columns: auto;
        }
    }
}

/*DISPLAY*/
@media screen {
    .display-flex {
        display: flex;
        display: -webkit-flex;
    }

    .display-none {
        display: none;
    }

    @media (max-width: 1313px) {
        [data-1313px-display="none"] {
            display: none;
        }
    }

    @media (max-width: 792px) {
        [data-792px-display="flex"] {
            display: flex;
        }
        
        [data-792px-display="none"] {
            display: none;
        }
    }

    @media (max-width: 480px) {        
        [data-480px-display="none"] {
            display: none;
        }
    }
}

/*FLEX*/
@media screen {
    .flex-1 {
        flex: 1;
    }
    .flex-1-1-1-240px {
        flex: 1 1 240px;
    }
}

/*FLEX DIRECTION*/
@media screen {
    .flex-direction-row {
        flex-direction: row;
    }

    .flex-direction-column {
        flex-direction: column;
    }
}

/*FLEX GROW*/
@media screen {
    .flex-grow-1 {
        flex-grow: 1;
    }
}

/*GRID*/
@media screen {
    .gg-menu-grid-r {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 16px;
        height: 16px;
    }

    .gg-menu-grid-r::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 4px;
        height: 4px;
        background: currentColor;
        box-shadow: 0 6px 0, 6px 6px 0, 12px 6px 0, 6px 12px 0, 12px 12px 0, 6px 0 0, 12px 0 0, 0 12px 0 ;
    }
}

/*HEIGHT*/
@media screen {
    .height-30px {
        height: 30px;
    }

    .height-40px, [data-height="40px"] {
        height: 40px;
    }

    [data-height="100%"] {
        height: 100%;
    }
}

/*JUSTIFY CONTENT*/
@media screen {
    .justify-content-center {
        justify-content: center;
    }

    .justify-content-space-between {
        justify-content: space-between;
    }
}

/*MIN HEIGhT*/
@media screen {
    .min-height-100pct {
        min-height: 100%;
    }

    .min-height-150pct {
        min-height: 150%;
    }
}

/*MARGIN*/
@media screen {
    .margin-10px {
        margin: 10px;
    }

    .margin-20px {
        margin: 20px;
    }

    .margin-bottom-20px {
        margin-bottom: 20px;
    }

    .margin-left-240px {
        margin-left: 240px;
    }

    .margin-right-3px {
        margin-right: 3px;
    }
    
    .margin-right-10px {
        margin-right: 10px;
    }

    .margin-top-10px {
        margin-top: 10px;
    }

    .margin-x-10px {
        margin-left: 10px;
        margin-right: 10px;
    }

    .margin-x-20px {
        margin-left: 20px;
        margin-right: 20px;
    }

    .margin-y-20px {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    @media (max-width: 1313px) {
        [data-1313px-margin-left="72px"] {
            margin-left: 72px;
        }
    }

    @media (max-width: 792px) {
        [data-792px-margin-left="0"] {
            margin-left: 0px;
        }
    }

    @media (max-width: 600px) {
        [data-600px-margin-x="0"] {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}

/*MAX WIDTH*/
@media screen {
    .max-width-100pct {
        max-width: 100%;
    }
    
    .max-width-100pct-minus-20px {
        max-width: calc(100% - 20px);
    }
}

/*PADDING*/
@media screen {
    .padding-left-240px {
        padding-left: 240px;
    }

    .padding-top-50px {
        padding-top: 50px;
    }
}

/*POSITION*/
@media screen {
    .position-fixed {
        position: fixed;
    }
}

/*TRANSFORM*/
@media screen {
    @media (max-width: 792px) {
    [data-792px-transform="translateX(-100%)"] {
        transform: translateX(-100%);
    }
    }
}

/*WIDTH*/
@media screen {
    .width-30px {
        width: 30px;
    }

    .width-64px {
        width: 64px;
    }

    .width-240px {
        width: 240px;
    }

    .width-640px {
        width: 640px;
    }

    .width-1680px {
        width: 1680px;
    }

    .width-100pct {
        width: 100%;
    }

    @media (max-width: 1313px) {
        [data-1313px-width="72px"] {
            width: 72px;
        }
    }
}

/*Z-INDEX*/
@media screen {
    .z-index-3 {
        z-index: 123;
    }

    .z-index-5 {
        z-index: 12345;
    }
}
