<card>
    <column>
        <picture class="aspect-ratio-16x9 background-color-000 position-relative">
            <img class="height-100pct object-fit-cover position-absolute top-0 width-100pct">
        </picture>
        <box class="margin-bottom-20px margin-top-10px">
            <row>
                <ico class="background-color-000 border-radius-50pct empty-state margin-right-10px" data-height="36px" data-width="36px">
                    <picture class="empty"></picture>
                    <n class="empty-state gg-user"></n>
                </ico>
                <text class="display-flex flex-direction-column flex-1">
                    <span class="font-weight-bolder line-height-20px margin-bottom-6px word-break-break-word" data-before="Title"></span>
                    <span class="color-aaa font-size-12px" data-before="Channel Name"></span>
                    <span class="display-none">Views &#160;&#8226;&#160;Date</span>
                </text>
                <ico data-height="40px" data-width="40px">
                    <n class="gg-more-vertical-alt"></n>
                </ico>
            </row>
        </box>
    </column>
</card>
